body {
  background: linear-gradient(59deg, #6b94fc 0%, #3a0eb0 100%);
  color: white;
  margin: 0;
  padding: 0;
}

.particles {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}
